.plant-name{
    font-size: small;
}

.sidebar{
    .list-group-item {
        background-color: #4e73df;
        color: #fff;        

    }
    .sidebar-tree{
        ul li{
            margin-left: -25px;
        }
    }
}