<div class="row">

    <div class="col-12">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard </h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> {{dgroom_data.name}}</h6>
            </div>
            <div class="card-body  di-widget-height-fix">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rooms in dgroom_data_all">


                                <th>{{rooms.roomname}}</th>
                                <th  data-toggle="tooltip" data-placement="top" title="{{rooms.Description}}">{{rooms.name}}</th>
                                <th>{{rooms.Value}}</th>
                                <th>{{rooms.Unit}}</th>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> {{ltroom_data.name}}</h6>
            </div>
            <div class="card-body  di-widget-height-fix">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tag</th>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="rooms in dgroom_data_all">
                                <th>{{rooms.roomname}}</th>
                                <th  data-toggle="tooltip" data-placement="top" title="{{rooms.Description}}">{{rooms.name}}</th>
                                <th>{{rooms.Value}}</th>
                                <th>{{rooms.Unit}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!--Graph start-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> History Trends</h6>
            </div>
            <div class="card-body  di-widget-height-fix">
                <canvas id="line" class="chart chart-line" chart-data="graph_data.dgroom.value"
                    chart-labels="graph_data.dgroom.label" chart-series="labels">
                </canvas>
            </div>
        </div>
        <!--Graph end-->
    </div>
    <div class="col-md-6">
        <!--Graph start-->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"> History Trends</h6>
            </div>
            <div class="card-body  di-widget-height-fix">
                <canvas id="line" class="chart chart-line" chart-data="graph_data.ltroom.value"
                    chart-labels="graph_data.ltroom.label">
                </canvas>
            </div>
        </div>
        <!--Graph end-->
    </div>
</div>